<div class="animated fadeIn">
    <div class="row">

  <div class="col-6 col-lg-3">
    <div class="card">
      <div class="card-body p-0 clearfix">
        <i class="fa fa-money bg-primary p-4 font-2xl mr-3 float-left"></i>
        <div class="h5 text-info mb-0 pt-3">{{balance}}</div>
        <div class="text-muted text-uppercase font-weight-bold font-xs">Balance</div>
      </div>
    </div>
  </div>
  <div class="col-6 col-lg-3">
    <div class="card">
      <div class="card-body p-0 clearfix">
        <i class="cui-dollar icons bg-primary p-4 font-2xl mr-3 float-left"></i>
        <div class="h5 text-info mb-0 pt-3">{{accountValue}}</div>
        <div class="text-muted text-uppercase font-weight-bold font-xs">Account value</div>
      </div>
    </div>
  </div>

<div class="col-6 col-lg-2">
    <button class="btn  btn-block btn-primary"(click)="refresh()"> <i class="fa fa-refresh p-3 font-2xl"></i></button>
</div></div>
  <div class="row">
    <div class="col-xs-4 col-4 col-md-4">
  <div class="card">
    <div class="card-body">
      <h3>Trade Stock</h3>
<div class="example-container" [formGroup]="orderForm">
        <mat-form-field>
          <mat-select [formControl]="bankServerSideCtrl" placeholder="Symbol">
            <!-- place ngx-mat-select-search inside mat-option to allow opening without initial selection -->
            <mat-option>
              <ngx-mat-select-search [formControl]="bankServerSideFilteringCtrl" [searching]="searching"></ngx-mat-select-search>
            </mat-option>
            <mat-option *ngFor="let asset of filteredServerSideBanks | async" [value]="asset">
              {{asset.symbol}}
            </mat-option>
          </mat-select>
        </mat-form-field>


    <mat-radio-group formControlName="transactionType" required>
    <mat-radio-button value="BUY">Buy</mat-radio-button>
    <mat-radio-button value="SELL">Sell</mat-radio-button>
  </mat-radio-group>


  <mat-form-field>
  <input formControlName="quantity" matInput placeholder="Quantity" type="number" required>
  </mat-form-field>

  <mat-form-field>
    <mat-select formControlName="orderType" placeholder="order type" [(value)]="selected">
      <mat-option value="MARKET">Market</mat-option>
      <mat-option value="LIMIT">Limit</mat-option>
        <mat-option value="STOP">Stop</mat-option>
    </mat-select>

  </mat-form-field>

  <mat-form-field [hidden]="selected == 'MARKET' || selected == 'STOP' || !selected">
<input formControlName="limitPrice" matInput placeholder="limit price" type="number">
 <span matPrefix>$&nbsp;</span>
  </mat-form-field>

  <mat-form-field [hidden]="selected == 'MARKET' || selected == 'LIMIT' || !selected">
<input formControlName="stopPrice" matInput placeholder="Stop price" type="number">
 <span matPrefix>$&nbsp;</span>
  </mat-form-field>

  <mat-form-field>

    <mat-select formControlName="duration" placeholder="Duration" >
      <mat-option value="GTC">GTC</mat-option>
      <mat-option value="FOK">FOK</mat-option>
        <mat-option value="IOC">IOC</mat-option>
        <mat-option value="DAY">DAY</mat-option>

    </mat-select>

  </mat-form-field>
  <alert *ngIf="error" type="info">
    <strong>Insufficient Quantity Owned</strong>
  </alert>
  <alert *ngIf="message" type="success">
    <strong>Order successfully created</strong>
  </alert>
  <div class="row align-items-center">

  <button mat-button (click)="save()"  cdkFocusInitial>Submit</button>
    <button mat-button>Cancel</button>

</div>
  </div>


  </div>
</div>
</div>
<div class="col-xs-6 col-6 col-md-8">
<div class="card">
  <div class="card-header">
    <strong>Stock portfolio</strong>
  </div>
<div class="card-body">
  <table mat-table
         [dataSource]="dataSource" multiTemplateDataRows
         class="mat-elevation-z8">
    <ng-container matColumnDef="{{column}}" *ngFor="let column of columnsToDisplay">
      <th mat-header-cell *matHeaderCellDef> {{column}} </th>
      <td mat-cell *matCellDef="let element"> {{element[column]}}</td>

    </ng-container>
    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let element; columns: columnsToDisplay;"
        class="example-element-row">
    </tr>

  </table></div></div></div>
</div></div>
