
<div class="animated fadeIn">
  <alert *ngIf="error" type="danger">
    <strong>{{error.message}}</strong> {{error.details}}
  </alert>

<table mat-table
       [dataSource]="dataSource" multiTemplateDataRows
       class="mat-elevation-z8">
  <ng-container matColumnDef="{{column}}" *ngFor="let column of columnsToDisplay">
    <th mat-header-cell *matHeaderCellDef> {{column}} </th>
    <td mat-cell *matCellDef="let element"> {{element[column]}} </td>


  </ng-container>

  <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
  <ng-container matColumnDef="expandedDetail">
    <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length">
      <div class="example-element-detail"
           [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">

<div class="chart-wrapper" style="height:200px;width:500px;margin-top:5px;">
        <canvas baseChart class="chart"
        [datasets]="chartData(element)"
        [labels]="chartLabels"
        [options]="chartOptions(element)"
        [colors]="chartColours"
        [legend]="chartLegend"
        [chartType]="chartType"></canvas>
      </div>
<div class="container">
  <div class="btn-holder">
         <button (click)="openDialog(element)" class="btn btn-primary">Trade</button>
 </div>
 </div>
 </div>
    </td>

  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
  <tr mat-row *matRowDef="let element; columns: columnsToDisplay;"
      class="example-element-row"
      [class.example-expanded-row]="expandedElement === element"
      (click)="expandedElement = expandedElement === element ? null : element">
  </tr>
  <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
</table>

</div>
